*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f2f2f2;
    color:#333;
}

nav{
    background:#111;
    padding:15px;
}

nav ul{
    display:flex;
    justify-content:center;
    gap:30px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.perfil{
    max-width:800px;
    margin:40px auto;
    text-align:center;
    padding:20px;
}

.foto-perfil{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.foto-card{
    width:100%;
    max-width:400px;
    border-radius:10px;
    margin-top:20px;
}

.card p{
    margin:15px 0;
}

.social-header{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:20px;
}

.social-link{
    display:flex;
    align-items:center;
    gap:8px;
    text-decoration:none;
    color:#333;
    background:white;
    padding:10px 15px;
    border-radius:10px;
}

.social-link img{
    width:24px;
}